# Ignore specific files
public/tokenData.json
functions/src/resources/keys.ts
functions/src/resources/level-up-firebase-key.json

# Ignore all files in a directory
dist
node_modules


"public/tokenData.json" 
bfg-1.15.0.jar
